@font-face {
    font-family: 'NunitoSans';
    /* Used ttf for now. Similar suppport for woff woff2 eot to be followed */
    src: url('./fonts/NunitoSans-Bold.ttf'),
         url('./fonts/NunitoSans-Regular.ttf'),
         url('./fonts/NunitoSans-Light.ttf'); 
}
html, body{
    margin: 0;
    font-family: 'NunitoSans', sans-serif;
}
h1, h2, h3, h4, h4 , h5, h6{
    margin: 0;
}
.p-15{
    padding: 15px;
}