@font-face {
    font-family: 'NunitoSansLight';
     /* Used ttf for now. Similar suppport for woff woff2 eot to be followed */
    src: url('./fonts/NunitoSans-Light.ttf');
    font-weight: 300;
    font-size: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans-Regular.ttf'); 
    font-weight: 400;
    font-size: normal;  
}
@font-face {
    font-family: 'NunitoSansBold';
    src: url('./fonts/NunitoSans-Bold.ttf');
    font-weight: 600;
    font-size: normal;
}
html, body{
    margin: 0;
    font-family: 'NunitoSans', sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h4 , h5, h6{
    margin: 0;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.p-15{
    padding: 15px;
}
.m-l-5{
    margin-left: 5px;
}
.m-t-15{
    margin-top: 15px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-t-30{
    margin-top: 30px;
}
.group:after{
    content: '';
    clear: both;
    display: table;
}
.text-muted{
    font-size: 12px;
    color: #999;
    /* width: calc(100% - 630px); */
}
.light-font{
    font-weight: 'NunitoSansLight';
}
.font-black{
    color: #333;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-right{
    text-align: right;
}